

<div class="container">
    <div  class="row">
      <h2 class="section-heading text-uppercase text-center">top de transportistas</h2>
        <div class="container p-2">
        <div class="cards">
           <% @quotes.each do |quote| %>
            <div class="card-trip" id="card-show" style="height: 450px">
              <% if quote.vehicle.photo.attached? %>
               <%= cl_image_tag quote.vehicle.photo.key %>
              <% end %>
              <div class="card-trip-infos carriers-info" style= "height: 250px">
                <div>

                  <div class="mb-3" style="width:200px">
                    <h4 class="text-light">Cotización Nº - <%= quote.id %> </h4>
                    <p class="text-light">Monto ofertado: <strong>$<%= quote.amount.to_i %></strong></p>
                    <p class="text-light" maxlength="10">Tipo de vehículo: <%= quote.vehicle.vehicle_type %></p>
                    <p class="text-light">Comentario: <%= quote.comment %></p>
                  </div>
                  <div class="pt-2 justify-content-around d-flex">
                    <%= link_to "Editar", edit_quote_path(quote), class: "btn btn-outline-warning mt-3 col-6 mx-2" %>
                    <%= link_to 'Eliminar', quote_path(quote), class: "btn btn-outline-danger mt-3 col-6", data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
