
<div class="container mt-4">
  <div class="row">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link color-dark active" data-toggle="tab" href="#quotesSent">Cotizaciones enviadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-dark" data-toggle="tab" href="#quotesReceived">Cotizaciones recibidas</a>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content mb-4">
  <div class="tab-pane container active" id="quotesSent">
    <div class="container mt-4">
      <div class="row">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link color-dark active" data-toggle="tab" href="#quotesSentPending">Pendientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-dark" data-toggle="tab" href="#quotesSentApproved">Aceptadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-dark" data-toggle="tab" href="#quotesSentRejected">Rechazadas</a>
          </li>
        </ul>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="tab-content mb-4">
        <div class="tab-pane container active" id="quotesSentPending">
          <div class="row carrier-show radius-10 mt-4 p-4">
            <header>Cotizaciones enviadas pendientes</header>
          </div>
          <div class="mt-4 carriers">
            <div  class="row">
              <div class="cards">
                <% @quotes.select { |quote| quote.user_id == current_user.id && quote.status == 0 }.each do |quote| %>
                  <div class="card-trip" id="card-show">
                    <% if quote.vehicle.photo.attached? %>
                      <%= cl_image_tag quote.vehicle.photo.key %>
                    <% end %>
                    <div class="card-trip-infos carriers-info">
                      <div>
                        <h4 >Cotización Nº - <%= quote.id %> </h4>
                        <div class="pt-2">
                          <h6>Para: <%= quote.freight.address %></h6>
                          <h6>Rating:  <i class="<%=quote.vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%=quote.vehicle.reviews.average(:rating) %></strong></h6>
                          <h6>Monto ofertado: <strong>$<%= number_with_delimiter(quote.amount.to_i, delimiter: ".") %></strong></h6>
                          <h6 maxlength="10">Tipo de vehículo: <%= quote.vehicle.vehicle_type %></h6>
                          <p class="text-light">Comentario: <%= quote.comment %></p>
                        </div>
                        <div class="pt-5">
                          <%= link_to 'Ver solicitud', freight_path(quote.freight) , class: "btn btn-success btn-sm" %>
                          <% if policy(quote).destroy? %>
                            <%= link_to 'Eliminar', quote_path(quote), class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade container" id="quotesSentApproved" role="tabpanel" aria-labelledby="quotesSentApproved-tab">
          <div class="row carrier-show radius-10 mt-4 p-4">
            <header>Cotizaciones enviadas aprobadas</header>
          </div>
          <div class="mt-4 carriers">
            <div  class="row">
              <div class="cards">
                <% @quotes.select { |quote| quote.user_id == current_user.id && quote.status == 1 }.each do |quote| %>
                  <div class="card-trip" id="card-show">
                    <% if quote.vehicle.photo.attached? %>
                      <%= cl_image_tag quote.vehicle.photo.key %>
                    <% end %>
                    <div class="card-trip-infos carriers-info">
                      <div>
                        <h4 >Cotización Nº - <%= quote.id %> </h4>
                        <div class="pt-2">
                          <h6>Para: <%= quote.freight.address %></h6>
                          <h6>Rating:  <strong><i class="<%=quote.vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%=quote.vehicle.reviews.average(:rating) %></strong></h6>
                          <h6>Monto ofertado: <strong>$<%= quote.amount.to_i %></strong></h6>
                          <h6 maxlength="10">Tipo de vehículo: <%= quote.vehicle.vehicle_type %></h6>
                          <p class="text-light">Comentario: <%= quote.comment %></p>
                        </div>
                        <div class="pt-5">
                          <%= link_to 'Ver solicitud', freight_path(quote.freight) , class: "btn btn-outline-success btn-sm" %>
                          <% if policy(quote).destroy? %>
                            <%= link_to 'Eliminar', quote_path(quote), class: "btn btn-outline-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade container" id="quotesSentRejected" role="tabpanel" aria-labelledby="quotesSentRejected-tab">
          <div class="row carrier-show radius-10 mt-4 p-4">
            <header>Cotizaciones enviadas rechazadas</header>
          </div>
          <div class="mt-4 carriers">
            <div  class="row">
              <div class="cards">
                <% @quotes.select { |quote| quote.user_id == current_user.id && quote.status == 2 }.each do |quote| %>
                  <div class="card-trip" id="card-show">
                    <% if quote.vehicle.photo.attached? %>
                      <%= cl_image_tag quote.vehicle.photo.key %>
                    <% end %>
                    <div class="card-trip-infos carriers-info">
                      <div>
                        <h4 >Cotización Nº - <%= quote.id %> </h4>
                        <div class="pt-2">
                          <h6>Para: <%= quote.freight.address %></h6>
                          <h6>Rating:  <strong><i class="<%=quote.vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%=quote.vehicle.reviews.average(:rating) %></strong></h6>
                          <h6>Monto ofertado: <strong>$<%= quote.amount.to_i %></strong></h6>
                          <h6 maxlength="10">Tipo de vehículo: <%= quote.vehicle.vehicle_type %></h6>
                          <p class="text-light">Comentario: <%= quote.comment %></p>
                        </div>
                        <div class="pt-5">
                          <%= link_to 'Ver solicitud', freight_path(quote.freight) , class: "btn btn-outline-success btn-sm" %>
                          <% if policy(quote).destroy? %>
                            <%= link_to 'Eliminar', quote_path(quote), class: "btn btn-outline-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane container active" id="quotesReceived">
    <div class="container mt-4">
      <div class="row">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link color-dark active" data-toggle="tab" href="#quotesReceivedPending">Pendientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-dark" data-toggle="tab" href="#quotesReceivedApproved">Aceptadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-dark" data-toggle="tab" href="#quotesReceivedRejected">Rechazadas</a>
          </li>
        </ul>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="tab-content mb-4">
        <div class="tab-pane container active" id="quotesReceivedPending">
          <div class="row carrier-show radius-10 mt-4 p-4">
            <header>Cotizaciones recibidas pendientes</header>
          </div>
          <div class="mt-4 carriers">
            <div  class="row">
              <div class="cards">
                <% @quotes.select { |quote| quote.freight.user_id == current_user.id && quote.status == 0 }.each do |quote| %>
                  <div class="card-trip" id="card-show">
                    <% if quote.vehicle.photo.attached? %>
                      <%= cl_image_tag quote.vehicle.photo.key %>
                    <% end %>
                    <div class="card-trip-infos carriers-info">
                      <div>
                        <h4 >Cotización Nº - <%= quote.id %> </h4>
                        <div class="pt-2">
                          <h6><strong>Solicitud Nº:</strong> <%= quote.freight.id %></h6>
                          <h6><strong>Origen:</strong> <%= quote.freight.address %></h6>
                          <h6><strong>Destino:</strong> <%= quote.freight.end_address %></h6>
                          <h6><strong>Rating:</strong>  <i class="<%=quote.vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%=quote.vehicle.reviews.average(:rating) %></h6>
                          <h6><strong>Monto ofertado:</strong> $<%= number_with_delimiter(quote.amount.to_i, delimiter: ".") %></h6>
                        </div>
                        <div class="pt-2">
                            <%= link_to 'Revisar cotización', quote, class: "btn btn-success boton-login btn-sm mt-1"%>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade container" id="quotesReceivedApproved" role="tabpanel" aria-labelledby="quotesReceivedApproved-tab">
          <div class="row carrier-show radius-10 mt-4 p-4">
            <header>Cotizaciones recibidas aprobadas</header>
          </div>
          <div class="mt-4 carriers">
            <div  class="row">
              <div class="cards">
                <% @quotes.select { |quote| quote.freight.user_id == current_user.id && quote.status == 1 }.each do |quote| %>
                  <div class="card-trip" id="card-show">
                    <% if quote.vehicle.photo.attached? %>
                      <%= cl_image_tag quote.vehicle.photo.key %>
                    <% end %>
                    <div class="card-trip-infos carriers-info">
                      <div>
                        <h4 >Cotización Nº - <%= quote.id %> </h4>
                        <div class="pt-2">
                          <h6><strong>Solicitud Nº:</strong> <%= quote.freight.id %></h6>
                          <h6><strong>Origen:</strong> <%= quote.freight.address %></h6>
                          <h6><strong>Destino:</strong> <%= quote.freight.end_address %></h6>
                          <h6><strong>Rating:</strong>  <i class="<%=quote.vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%=quote.vehicle.reviews.average(:rating) %></h6>
                          <h6><strong>Monto ofertado:</strong> $<%= number_with_delimiter(quote.amount.to_i, delimiter: ".") %></h6>
                        </div>
                        <div class="pt-2">
                            <%= link_to 'Revisar cotización', quote, class: "btn btn-success boton-login btn-sm mt-1"%>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade container" id="quotesReceivedRejected" role="tabpanel" aria-labelledby="quotesReceivedRejected-tab">
          <div class="row carrier-show radius-10 mt-4 p-4">
            <header>Cotizaciones recibidas rechazadas</header>
          </div>
          <div class="mt-4 carriers">
            <div  class="row">
              <div class="cards">
                <% @quotes.select { |quote| quote.freight.user_id == current_user.id && quote.status == 2 }.each do |quote| %>
                  <div class="card-trip" id="card-show">
                    <% if quote.vehicle.photo.attached? %>
                      <%= cl_image_tag quote.vehicle.photo.key %>
                    <% end %>
                    <div class="card-trip-infos carriers-info">
                      <div>
                        <h4 >Cotización Nº - <%= quote.id %> </h4>
                        <div class="pt-2">
                          <h6><strong>Solicitud Nº:</strong> <%= quote.freight.id %></h6>
                          <h6><strong>Origen:</strong> <%= quote.freight.address %></h6>
                          <h6><strong>Destino:</strong> <%= quote.freight.end_address %></h6>
                          <h6><strong>Rating:</strong>  <i class="<%=quote.vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%=quote.vehicle.reviews.average(:rating) %></h6>
                          <h6><strong>Monto ofertado:</strong> $<%= number_with_delimiter(quote.amount.to_i, delimiter: ".") %></h6>
                        </div>
                        <div class="pt-2">
                            <%= link_to 'Revisar cotización', quote, class: "btn btn-success boton-login btn-sm mt-1"%>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
