<div class="container">
<h2>Listado de cotizaciones</h2>
<br>
  <% @quotes.each do |quote| %>
    <% if current_user.id == quote.user_id %>
      <div class="card-product m-4">
        <div class="row">
          <h5>Cotización Nº - <%= quote.id %></h5>
        </div>
        <% if quote.vehicle.photo.attached? %>
          <%= cl_image_tag quote.vehicle.photo.key %>
        <% end %>
        <div class="card-product-infos">
          <p>Monto ofertado: <strong>$<%= quote.amount %></strong></p>
          <p>Tipo de vehículo: <%= quote.vehicle.vehicle_type %></p>
          <p>Comentario: <%= quote.comment %></p>
        </div>
        <div>
          <%= form_with url: orders_path do %>
          <%= hidden_field_tag 'quote_id', quote.id %>
          <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
          <% end %>
        </div>
        <%= link_to "Editar", edit_quote_path(quote), class: "btn btn-outline-warning mt-3" %>
        <%= link_to 'Eliminar', quote_path(quote), class: "btn btn-outline-danger mt-3", data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
      </div>
    <% end  %>
  <% end  %>
</div>
