<div class="container col-6">
  <div class="row carrier-show radius mt-4 p-4">
    <header>Detalla tu oferta para la solicitud Nº<%= @freight.id %></header>
  </div>
    <div class="container my-3 border border-3">
      <div class="row p-4 m-4">
        <%= simple_form_for [@freight, @quote] do |f| %>
          <%= f.input :vehicle_id, label: "Transportes", collection: current_user.vehicles, label_method: :alias, value_method: :id, prompt: "Selecciona tu transporte" %>
          <%= f.input :amount, label: "Monto ofertado" %>
          <%= f.input :comment, label: "Comentario", as: :text  %>
          <div class="row m-0">
            <%= f.button :submit,"Guardar", class: "btn btn-success boton-login btn-sm"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
