<div data-search-vehicles-target="list" class="mb-3">
      <div class="row">
        <div class="cards col-12">
          <% @vehicles.each do |vehicle| %>
            <% if user_signed_in? %>
              <% if vehicle.user_id != current_user.id %>
                <div class="card-trip" id="card-show">
                  <% if vehicle.photo.attached? %>
                    <%= cl_image_tag vehicle.photo.key %>
                  <% end %>
                  <div class="card-trip-infos carriers-info">
                    <div>
                      <h4><%= vehicle.alias %></h4>
                      <br>
                      <div class="pt-2">
                        <% if vehicle.reviews.any?%>
                          <h6>Rating:  <strong><i class="<%= vehicle.reviews.average(:rating).round(1) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%= vehicle.reviews.average(:rating) %></strong></h6>
                        <% else %>
                          <h6>Rating:  <strong><i class="<%= vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%= vehicle.reviews.average(:rating) %></strong></h6>
                        <% end %>
                        <h6>Capacidad de carga: <strong><%= vehicle.load_capacity.to_i %></strong>Kg</h6>
                        <h6>Ciudad base de operaciones: <%= vehicle.city.name %></strong> </h6>
                        <h6>Presta servicio en otras ciudades: <%= vehicle.other_cities ? "Si" : "No" %></h6>
                        <h6>Presta servicio en otras regiones: <%= vehicle.regions ? "Si" : "No" %></h6>
                        <h6>Cerrado: <%= vehicle.covered ? "Si" : "No" %></h6>
                        <p><%= vehicle.description.truncate(50) %></p>
                      </div>
                      <br>
                      <div class="pt-2">
                        <%= link_to 'Contactar', vehicle, class: "btn btn-success boton-login btn-sm mt-1"%>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="card-trip" id="card-show">
                <% if vehicle.photo.attached? %>
                  <%= cl_image_tag vehicle.photo.key %>
                <% end %>
                <div class="card-trip-infos carriers-info">
                  <div>
                    <h4><%= vehicle.alias %></h4>
                    <br>
                    <div class="pt-2">
                      <% if vehicle.reviews.any?%>
                        <h6>Rating:  <strong><i class="<%= vehicle.reviews.average(:rating).round(1) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%= vehicle.reviews.average(:rating) %></strong></h6>
                      <% else %>
                        <h6>Rating:  <strong><i class="<%= vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%= vehicle.reviews.average(:rating) %></strong></h6>
                      <% end %>
                      <h6>Capacidad de carga: <strong><%= vehicle.load_capacity.to_i %></strong>Kg.</h6>
                      <h6>Ciudad base de operaciones: <%= vehicle.city.name %></strong> </h6>
                      <h6>Presta servicio en otras ciudades: <%= vehicle.other_cities ? "Si" : "No" %></h6>
                      <h6>Presta servicio en otras regiones: <%= vehicle.regions ? "Si" : "No" %></h6>
                      <h6>Cerrado: <%= vehicle.covered ? "Si" : "No" %></h6>
                      <p><%= vehicle.description.truncate(50) %></p>
                    </div>
                    <br>
                    <div class="pt-2">
                      <%= link_to 'Contactar', vehicle, class: "btn btn-success boton-login btn-sm mt-1"%>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
