<div data-search-freights-target="list" class="mb-3">
  <div class="carriers">
    <div  class="row">
      <div class="cards">
        <% @freights.each do |freight| %>
          <% if current_user.id != freight.user_id %>
            <div class="card-trip" id="card-show">
              <% if freight.photos.length > 0 %>
                <%= cl_image_tag freight.photos.first.key, width: 400, height: 200, crop: :fill %>
              <% else %>
                <%= image_tag "CargoDefaultFreight.png", width: 400, height: 200, crop: :fill %>
              <%end%>
              <div class="card-trip-infos carriers-info p-2">
                <div>
                  <h4 style="height: 50px"><%= freight.address%></h4>
                  <div class="pt-2">
                    <h6><strong>Publicado el:</strong> <%= freight.start_date.strftime('%m/%d/%Y')%></h6>
                    <h6><strong>Descripción:</strong> <%= freight.description %></h6>
                  </div>
                  <div class="pt-2">
                    <%= link_to 'Ver detalles', freight, class: "btn btn-success boton-login btn-sm mt-1"%>
                  </div>
                  <div class="card-footer pt-2">
                    <small class="text-muted">Actualizado el <%= freight.updated_at.strftime('%d/%m/%Y') %></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
