<!-- Navigation-->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top py-3" data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar">

  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <%end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Transportes disponibles", vehicles_path, class: "nav-link me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Solicita", new_freight_path, class: "nav-link me-2" %>

          </li>
          <li class="nav-item">
            <%= link_to "Conduce", new_vehicle_path, class: "nav-link me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contáctanos", new_contact_path, class: "nav-link me-2" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Solicitudes abiertas", freights_path, class: "nav-link me-4" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
            <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% else %>
            <%=  image_tag 'default_avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "¡Tus solicitudes!", freights_path, class: "dropdown-item" %>
              <%= link_to "¡Tus cotizaciones!", quotes_path, class: "dropdown-item" %>
              <%= link_to "¡Tus Vehiculos!", my_vehicles_vehicles_path, class: "dropdown-item" %>
              <%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Inicia sesión", new_user_session_path, class: "nav-link btn btn-success boton-login ms-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
