<div class="container my-3 border border-3">
  <div class="row p-4 m-4" data-controller="region-cities">
    <%= simple_form_for @vehicle do |f| %>
      <strong><%= f.input :vehicle_type, collection: [['automovil', 'Automovil'], ['camioneta', 'Camioneta'], ['mini camion', 'Mini camión'], ['camion liviano', 'Camión liviano'], ['camion', 'Camión']], label_method: :second, value_method: :first, label: "¿Que tipo de vehículo es?" %></strong>
      <strong><%= f.input :load_capacity, collection: [['500', '500 Kg'], ['1_000', '1.000 Kg'], ['1_500', '1.500 Kg'], ['2_500', '2.500 Kg'], ['3_500', '3.500 Kg'], ['5_000', '5.000 Kg']], label_method: :second, value_method: :first, label: "Capacidad de carga" %></strong>
      <strong><%= f.input :license_plate, label: "Patente" %></strong>
      <strong><%= f.input :alias, label: "Alias" %></strong>
      <strong><%= f.input :covered, label: "¿Está cubierto?", as: :boolean  %></strong>
      <strong><%= f.input :description, label: "Descripción", as: :text  %></strong>
      <strong><%= f.input :regions, label: "Regiones", collection: @regions, label_method: :name, value_method: :id, prompt: "Regiones", input_html: {data: {action: "change->region-cities#changeRegion"} }%></strong>
      <strong><%= f.input :city_id, label: "Ciudades", collection: City.all, label_method: :name, value_method: :id, prompt: "Ciudades", input_html: {data: {region_cities_target: "city"}} %></strong>
      <strong><%= f.input :other_cities, label: "¿Quieres trabajar en otras ciudades?", as: :boolean  %></strong>
      <strong><%= f.input :other_regions, label: "¿Quieres trabajar en otras regiones?", as: :boolean  %></strong>
      <strong><%= f.input :photo, as: :file, label: "Sube una imágen del vehículo" %></strong>
      <strong><%= f.input :image, accept: :*, label: "Sube una imagen al anverso y al revés de tu RUT",as: :file, class: "pt-2" %></strong>
      <strong><%= f.input :image, accept: :*, label: "Sube una imagen del permiso de circulación vigente",as: :file, class: "pt-2" %></strong>
      <strong><%= f.input :image, accept: :*, label: "Sube una imagen del SOAP vigente",as: :file, class: "pt-2" %></strong>
      <div class="row m-0">
      <%= f.button :submit,"Guardar", class: "btn btn-success boton-login btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
