<div class="container">
  <div class="row align-items-center justify-content-center carrier-show radius mt-4 p-4">
    <div class="col-9">
      <header>Mis solicitudes de transporte</header>
    </div>
    <div class="col-3">
      <%= link_to "Publicar nueva solicitud", new_freight_path, class: "btn btn-success boton-login btn-sm" %>
    </div>
  </div>
</div>

<div class="container" data-controller="search-freights">
  <div class="mb-3 mt-3">
    <%= form_with url: my_freights_freights_path, method: :get, html: {data: {search_freights_target: "form"}} do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: "Ingrese la ubicacion de la solicitud",
                      value: params[:query],
                      data: {search_freights_target: "input",
                              action: "keyup->search-freights#update"
                            }%>
    <% end %>
  </div>

    <!-- Busqueda de Freights --->
  <div data-search-freights-target="list" class="mb-3">
    <div class="card-group row">
      <% @freights.each do |freight| %>
        <% if user_signed_in? %>
          <% if freight.user_id == current_user.id %>
            <div class="col-4">
              <div class="card m-2 shadow-sm rounded">
                  <% if freight.photos.length > 0 %>
                    <%= cl_image_tag freight.photos.first.key, width: 400, height: 200, crop: :fill, class: "card-img-top" %>
                  <% else %>
                    <%= image_tag "CargoDefaultFreight.png", width: 400, height: 200, crop: :fill, class: "card-img-top" %>
                  <%end%>
                <div class="card-body">
                  <h5 class="card-title text-center"><%= freight.address%></h5>
                  <p class="card-title"><strong>Programado para el: <%= freight.start_date.strftime('%m/%d/%Y')%></strong></p>
                  <p class="card-text"><%= freight.description %></p>
                  <div class="d-grip gap-2 text-center">
                    <%= link_to 'Ver detalles', freight, class: "btn btn-outline-success"%>
                  </div>
                </div>
                <div class="card-footer">


                  <small class="text-muted">Actualizado el <%= freight.updated_at.strftime('%d/%m/%Y') %></small>


                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
