<div class="container col-6 mt-4">
  <div class="row carrier-show radius mt-4 p-4">
    <header>Nueva solicitud de transporte</header>
  </div>
  <div class="container my-3 border border-3">
    <div class="row p-4 m-4">
      <%= simple_form_for @freight do |f| %>
        <strong><%= f.input :description, label: "Descripción", as: :text  %></strong>
        <strong><%= f.input :receiver_name, label: "Nombre del receptor", as: :text %></strong>
        <strong><%= f.input :receiver_phone, label: "Telefono del receptor", as: :text %></strong>
        <div data-controller="search-address">
          <div class="row">
            <div class="col-8">
              <input class="input mb12" id="address" name="freight[address]" autocomplete="shipping address-line1" placeholder="Direccion de Origen">
            </div>
            <div class="col-4">
              <input class="input mb12" id="address" name="freight[or_city]" autocomplete="shipping address-level2" placeholder="Ciudad Origen" disabled>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <input class="input mb12" id="end_address" name="freight[end_address]" autocomplete="billing address-line1" placeholder="Direccion de Destino">
            </div>
            <div class="col-4">
              <input class="input mb12" id="end_city" name="end_city" autocomplete="billing address-level2" placeholder="Ciudad Destino" disabled>
            </div>
          </div>

        </div>

        <strong><%= f.label :start_date, "Fecha"%></strong>
        <strong><%= f.date_field :start_date ,min_max: true, min: Date.today, required: true, style: "width: 100%" %></strong>
        <strong><%= f.input :round_trip, label: "¿Ida y vuelta?",  html: { class: "mt-3 mb-3"}%></strong>
        <strong><%= f.input :photos, as: :file, input_html: { multiple: true } %></strong>
        <div class="row m-0">
          <%= f.button :submit,"Publicar", class: "btn btn-success boton-login btn-sm"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
