
<h1>Este es el detalle del traslado <strong><%= @freight.start_date %></strong></h1>
<div class="row mt-4 align-items-center">
  <div class="col-6">
    <%= link_to "Regresar a Freights", freight_path, class: "btn btn-secondary" %>
     <%= link_to 'Eliminar', freights_path(@freight), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' }, class: "btn btn-danger" %>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-3">
        <!-- colocar info -->
      </div>
      <div class="col-3">
        <!-- colocar info -->
      </div>
      <div class="col-6">
        <p><i class="fa-solid fa-location-dot"></i> <%= @freight.start_address %></p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row mt-2">
  <div class="col-6 p-2">
    <!-- Control de reservas -->
    <div class="mb-1">
        <!-- colocar info -->
        <h2> Detalles </h2>
    </div>
    <div class="row">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Descripción: <%= @freight.description %></li>
        <li class="list-group-item">Lugar de inicio: <%= @freight.start_address  %></li>
        <li class="list-group-item">Fecha: <%= @freight.start_date %></li>
        <li class="list-group-item">Persona que recibe: <%= @freight.receiver_name %></li>
        <li class="list-group-item">Telefono persona que recibe: <%= @freight.receiver_phone %></li>
        <li class="list-group-item">Ida y Vuelta: <%= @freight.round_trip  %></li>
      </ul>
    </div>
  </div>

  <div class="col-6">
    <div class="mb-3" style="width: 100%; height: 250px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%= cl_image_tag(@freight.photo.key, height: 300, width: 400, crop: :fill, :transformation=>[

      {:border=>"1px_solid_grey", :radius=>7}
    ]) %>
  </div>
</div>

<% if policy(@freight).edit? %>
  <%= link_to "Edit this freight", edit_freight_path(@freight) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this freight", @freight, method: :delete if policy(@freight).destroy? %>

