<div class="banner-class">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="overlay-image">
          <%= image_tag "banner/furgon-reparto-cargo.jpg", class: "image_banner img-fluid" %>
        </div>
        <div class="carousel-caption logobanner d-none d-md-block">
          <%= image_tag "logo.png", class: 'w-25'  %>
          <br>
          <h5 class="mt-4">Encontrá a tu transportista ideal</h5>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay-image">
          <%= image_tag "banner/repartidor-ganando-dinero-porque-trabaja-con-cargo.jpg", class: "image_banner" %>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h2>El flete ideal para tu negocio</h2>
          <p>Hacé crecer tu empresa ofreciendo envíos de calidad</p>
            <%=link_to "Agrega tu transporte", new_vehicle_path, class:" btn btn-success boton-login" %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay-image">
          <%= image_tag "banner/pareja-empacando-feliz-porque-usan-cargo.jpg", class: "image_banner" %>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h2>Encontrá un CarGO para tu mudanza</h2>
          <p>Contamos con un transportista a la medida de tus necesidades</p>
           <%=link_to "Busca tu flete", new_freight_path, class:" btn btn-success boton-login" %>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Search-bar-->
<div class="container">
  <br>
  <br>
  <%= render "shared/search", class: "nav-link" %>
  <br>
  <br>
</div>
<!-- Services-->
<div  class="service-card p-5" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">¿Cómo funciona?</h2>
      <br>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <%= image_tag "services_logo/notebook.png", class: "service-icon w-25" %>
        <h4 class="my-3">SOLICITA</h4>
        <p class="text-light">Envía una solicitud global o al transportista de tu preferencia, indicando el detalle de lo que quieres transportar, fotografías, fecha, dirección de inicio y dirección final.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "services_logo/wheel.png", class: "service-icon w-25" %>
        <h4 class="my-3">ELIGE</h4>
        <p class="text-light">Los transportistas evaluarán tu solicitud y enviarán las cotizaciones, para que tú puedas elegir la opción más conveniente a tu necesidad.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "services_logo/relax.png", class: "service-icon w-25" %>
        <h4 class="my-3">DESPREOCÚPATE</h4>
        <p class="text-light">Los transportistas seleccionados han sido evaluados cuidadosamente en cuanto a sus antecedentes y han demostrado ser confiables y capaces de brindar el mejor servicio posible para garantizar la seguridad y el bienestar de tus bienes.</p>
      </div>
    </div>
  </div>
</div>
<%# Vehicles grid %>
<div class="p-5 carriers">
  <div class="container">
    <div  class="row">
      <h2 class="section-heading text-uppercase text-center">top de transportistas</h2>
        <div class="container p-2">
        <div class="cards">
          <% @vehicles.sort_by { |vehicle| [-vehicle.rating] }.take(6).each do |vehicle| %>
            <div class="card-trip" id="card-show">
              <% if vehicle.photo.attached? %>
                <%= cl_image_tag vehicle.photo.key %>
              <% end %>
              <div class="card-trip-infos carriers-info">
                <div>
                  <h4><%= vehicle.alias %></h4>
                  <div class="pt-2">
                    <h6>Tipo de trasnporte: <%= vehicle.vehicle_type %></h6>
                    <h6>Capacidad de carga: <strong><%= vehicle.load_capacity.to_i %></strong>Kg.</h6>
                    <h6>Rating:  <strong><i class="<%= vehicle.reviews.average(:rating) == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%= vehicle.reviews.average(:rating) %></strong></h6>
                    <h6>Cerrado: <strong><%= vehicle.covered ? "Si" : "No" %></strong></h6>
                    <p><%= vehicle.description.truncate(50) %></p>
                  </div>
                  <div class="pt-2">
                    <%= link_to 'Contactar', vehicle, class: "btn btn-success boton-login btn-sm mt-1"%>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
