<div class="container col-6">
  <div class="row carrier-show radius mt-4 p-4">
    <header>Inicia sesión</header>
  </div>
  <div class="container my-3 border border-3">
    <div class="row p-4 m-4">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, label: "Correo electrónico",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password, label: "Contraseña",
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, label: "Recuérdame", as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="row m-0">
          <%= f.button :submit, "Inicia sesión", class: "btn btn-success boton-login btn-sm"%>
        </div>
      <% end %>
      <div class="row mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
