<div class="p-5 carriers">
  <div class="container">
    <div class="row">
      <div class="cards col-12">
        <% @vehicles.each do |vehicle| %>
          <% if user_signed_in? %>
            <% if vehicle.user_id != current_user.id %>
              <div class="card-trip" id="card-show">
                <% if vehicle.photo.attached? %>
                  <%= cl_image_tag vehicle.photo.key %>
                <% end %>
                <div class="card-trip-infos carriers-info">
                  <div>
                    <h4><%= vehicle.vehicle_type %></h4>
                    <br>
                    <div class="pt-2">
                      <h6>Capacidad de carga: <strong><%= vehicle.load_capacity %></strong>Kg.</h6>
                      <h6>Ciudad base de operaciones: <%= @city_name %></strong> </h6>
                      <h6>Presta servicio en otras ciudades: <%= vehicle.other_cities ? "Si" : "No" %></h6>
                      <h6>Presta servicio en otras regiones: <%= vehicle.regions ? "Si" : "No" %></h6>
                      <h6>Cerrado: <%= vehicle.covered ? "Si" : "No" %></h6>
                      <p><%= vehicle.description.truncate(50) %></p>
                    </div>
                    <br>
                    <div class="pt-2">
                      <%= link_to 'Contactar', vehicle, class: "btn btn-success boton-login btn-sm mt-1"%>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card-trip" id="card-show">
              <% if vehicle.photo.attached? %>
                <%= cl_image_tag vehicle.photo.key %>
              <% end %>
              <div class="card-trip-infos carriers-info">
                <div>
                  <h4><%= vehicle.vehicle_type %></h4>
                  <br>
                  <div class="pt-2">
                    <h6>Capacidad de carga: <strong><%= vehicle.load_capacity %></strong>Kg.</h6>
                    <h6>Ciudad base de operaciones: <%= @city_name %></strong> </h6>
                    <h6>Presta servicio en otras ciudades: <%= vehicle.other_cities ? "Si" : "No" %></h6>
                    <h6>Presta servicio en otras regiones: <%= vehicle.regions ? "Si" : "No" %></h6>
                    <h6>Cerrado: <%= vehicle.covered ? "Si" : "No" %></h6>
                    <p><%= vehicle.description.truncate(50) %></p>
                  </div>
                  <br>
                  <div class="pt-2">
                    <%= link_to 'Contactar', vehicle, class: "btn btn-success boton-login btn-sm mt-1"%>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
