<div class="container">
  <div class="row mt-2">
    <div class="col-6 p-2">
      <div class="row align-items-center carrier-show radius-top mx-0 p-1">
        <div class="col-6 p-3">
          <h3 class="text-left">Estás viendo los detalles de <strong><%= @vehicle.alias %></strong></h3>
        </div>
        <div class="col-2"></div>
        <div class="col-4 p-3">
          <div class="row">
            <p><i class="fa-regular fa-comment-dots"></i>&nbsp; <%= @vehicle.reviews.count %> reseñas</p>
            <p><i class="<%= @vehicle.rating == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>&nbsp; <%= @vehicle.rating %></p>
            <p><i class="fa-solid fa-location-dot"></i>&nbsp; <%= @vehicle.city.name %></p>
          </div>
        </div>
      </div>
      <div class="row mx-0">
        <% if policy(@vehicle).edit? %>
            <%= link_to "Editar", edit_vehicle_path(@vehicle), class: "btn btn-outline-warning" %>
        </div>
        <div class="row mx-0">
          <% policy(@vehicle).destroy? %>
            <%= link_to 'Eliminar', vehicle_path(@vehicle), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
          <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Alias:</strong> <%= @vehicle.alias %></li>
        <li class="list-group-item"><strong>Tipo de transporte:</strong> <%= @vehicle.vehicle_type %></li>
        <li class="list-group-item"><strong>Capacidad de carga:</strong> <%= @vehicle.load_capacity.to_i %> Kg</li>
        <li class="list-group-item"><strong>¿Está cubierto?:</strong> <%= @vehicle.covered ? "Si" : "No" %></li>
        <li class="list-group-item"><strong>Descripción:</strong> <%= @vehicle.description %></li>
        <li class="list-group-item"><strong>Ciudad base de operaciones:</strong> <%= @vehicle.city.name %></li>
        <li class="list-group-item"><strong>Presta servicio en otras ciudades:</strong> <%= @vehicle.other_cities ? "Si" : "No"  %></li>
        <li class="list-group-item"><strong>Presta servicio en otras regiones:</strong> <%= @vehicle.other_regions ? "Si" : "No"  %></li>
      </ul>
      <div class="row mx-0 p-2 carrier-show radius-bottom">
        <% unless @vehicle.reviews.count.zero? %>
          <h4 class="mt-4">Reseñas</h4>
          <% @vehicle.reviews.each do |review|%>
            <figure>
              <blockquote class="blockquote">
                <p><%= review.comment %></p>
              </blockquote>
              <figcaption class="blockquote-footer">
                <%= review.user.first_name%> <cite title="rating white">
                <p><i class="<%= review.rating == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i>
                <%= review.rating %></p></cite>
              </figcaption>
            </figure>
          <% end %>
        <% else %>
          <h4>Se el primero en reseñar, contáctalo y contrata sus servicios.</h4>
        <%end%>
      </div>
    </div>
    <div class="col-6 p-2">
      <%= cl_image_tag @vehicle.photo.key, class: 'w-100 card-trip', crop: :fill %>
      <% if user_signed_in? %>
        <% if current_user.id != @vehicle.user_id %>
          <div class="row pt-2 m-0">
            <%= link_to 'Solicitar cotización', new_vehicle_freight_path(@vehicle), class: "btn btn-success boton-login btn-sm mt-1"%>
          </div>
          <% if @vehicle.quotes.any? %>
            <% @freights.each do |freight| %>
              <% freight.user_id %>
              <% if current_user.id == freight.user_id %>
                <div class="row mx-0 p-2 carrier-show radius-bottom">
                    <h2>Agregar comentarios</h2>
                    <%= simple_form_for([@vehicle, @review]) do |f| %>
                    <%= f.input :comment %>
                    <%= f.input :rating %>
                    <%= f.submit "Agregar un review", class: "btn btn-primary" %>
                    <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>


    </div>
  </div>
</div>
