<div class="container">
  <div class="row mt-4 align-items-center">
    <div class="col-6">
      <h3 class="text-left"><strong><%= @vehicle.vehicle_type.capitalize %></strong></h3>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-3">
          <p><i class="fa-regular fa-comment-dots"></i> <%= @vehicle.rating %> reseñas</p>
        </div>
        <div class="col-3">
          <p><i class="<%= @vehicle.rating == nil ? "fa-regular fa-star" : "fa-solid fa-star" %>"></i> <%= @vehicle.rating %></p>
        </div>
        <div class="col-6">
          <p><i class="fa-solid fa-location-dot"></i> <%= @vehicle.city.name %></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col-6 p-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Tipo de transporte: <%= @vehicle.vehicle_type %></li>
        <li class="list-group-item">Capacidad de carga: <%= @vehicle.load_capacity.to_i %> Kg</li>
        <li class="list-group-item">¿Está cubierto?: <%= @vehicle.covered ? "Si" : "No" %></li>
        <li class="list-group-item">Descripción: <%= @vehicle.vehicle_type %></li>
        <li class="list-group-item">Ciudad base de operaciones: <%= @city_name  %></li>
        <li class="list-group-item">Presta servicio en otras ciudades: <%= @vehicle.other_cities ? "Si" : "No"  %></li>
        <li class="list-group-item">Presta servicio en otras regiones: <%= @vehicle.other_regions ? "Si" : "No"  %></li>
      </ul>
      <div class="row">
      <% if policy(@vehicle).edit? %>
          <%= link_to "Editar", edit_vehicle_path(@vehicle), class: "btn btn-outline-warning mt-3" %>
      </div>
      <div class="row">
        <% policy(@vehicle).destroy? %>
          <%= link_to 'Eliminar', vehicle_path(@vehicle), class: "btn btn-outline-danger mt-3", data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
        <% end %>
      </div>
    </div>
    <div class="col-6 p-2">
      <%= cl_image_tag @vehicle.photo.key, class: 'w-100 card-trip', crop: :fill %>
      <div class="row pt-2 m-0">
        <%= link_to 'Solicitar cotización', new_vehicle_freight_path(@vehicle), class: "btn btn-success boton-login btn-sm mt-1"%>
      </div>
    </div>
  </div>
</div>
